body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;
    margin: 0;
    color: black;

}
.d1 {
    max-width: 935px;
    margin: 30px auto;
    padding: 0 20px;
}
.header {
    display: flex;
    margin-bottom: 45px;
}
.avatar {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}
.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #dbdbdb;
    
}
.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex-basics: 70%;
}
.name {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.follow {
    background-color: #1597ee;
    color: white;
    border: none;
    padding: 5px 24px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;

}
.highlights {
    display: flex;
    gap: 45px;
    padding: 0 20px 40px;
    border-bottom: 1px solid #dbdbdb;
}
.status {
    display: flex;
    gap: 40px;
    padding: 0 20px 40px;
    border-bottom: 1px solid white;
}
.items {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
.circle {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 10px;
}
.circle img {
    width: 100%;
    border-radius: 50%;
}
.tabs {
    display: flex;
    justify-content: center;
    gap:60px;
    border-top: 1px sloid white;
    margin-top: -1px;
}
.tab-item {
    padding: 15px 0;
    font-size: 12px;
    font-weight: 600;
    color: #918d8d;
    cursor: pointer;
}
.tab-item.active {
    color: #262626;
    border-top: 1px solid #262626;
}
.posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-top: 20px;
}

.post img {
    width: 100%;
    display: block;
}