<div class="home">
  <div class="hero">
    <h1>Welcome to Album Browser</h1>
    <p>Discover and explore a curated collection of  albums. View photos, edit album titles, and manage your collection.</p>
    <a routerLink="/albums" class="btn-primary">Browse Albums</a>
  </div>
  <div class="features">
    <div class="feature-card">
      <span><img src="https://avatars.mds.yandex.net/i?id=ddd3d90ef24db4e0ef2f27c207b732aa33c88f9e-4118916-images-thumbs&n=13"></span>
      <h3>Browse Albums</h3>
      <p>Explore all  albums from our collection</p>
    </div>
    <div class="feature-card">
      <span><img src="https://avatars.mds.yandex.net/i?id=0df2235bce0fdaf17b504e09e655ee248247dc04-10415032-images-thumbs&n=13"></span>
      <h3>View Photos</h3>
      <p>See all photos associated with each album</p>
    </div>
    <div class="feature-card">
      <span><img src="https://avatars.mds.yandex.net/i?id=75185a558ce8cd6431f0d1789428bf4db909440c-5647646-images-thumbs&n=13"></span>
      <h3>Edit & Manage</h3>
      <p>Update album titles and delete albums</p>
    </div>
  </div>
</div>